<% include partials/header %>

<body style="background:url('/images/seattle.jpg') no-repeat center">
	<div id="landing-header">
			<h1 style="color: black; font: 900 4vw/7vh cookie;
			mix-blend-mode: exclusion;
			text-shadow: 3px 3px 4px orangered;" >Seattle Library Data Set</h1>
			<div>
				<a class="btn btn-sm btn-success"   href="/query1" target="_blank">Question 1</a>
				<a class="btn btn-sm btn-success"   href="/query2" target="_blank">Question 2</a>
				<a class="btn btn-sm btn-success"   href="/query3" target="_blank">Question 3</a>
				<a class="btn btn-sm btn-success"   href="/query4" target="_blank">Question 4</a>	
				<a class="btn btn-sm btn-success"   href="/addbook"  target="_blank">Add a Book</a>	
				
			</div> 
	</div>
</body>

<% include partials/footer %>
		
		
		
		
		
